.education-information-container {
    padding-top: 20vh;
    text-align: left;
    margin-left: 2vw;
}

.education-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.education {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .5vw;
    flex-basis: 100%;
}

.education-logo {
    width: 10vw;
}

.skills-list-container {
    text-align: left;
    margin-left: 2vw;
}

.skills-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .5vw;
    flex-basis: 100%;
}

.skill:hover {
    transform: scale(1.25);
}

.skill-logo {
    width: 3vw;
    height: auto;
}

#css-logo {
    width: 2vw;
    height: auto;
}

.about-container {
    text-align: left;
    margin-left: 2vw;
}

.about-container p {
    margin-left: 2vw;
}