.education-information-container {
    padding-top: 20vh;
    text-align: left;
    margin-left: 2vw;
}

.education-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.education {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .5vw;
    flex-basis: 100%;
}

.education-logo {
    width: 10vw;
}

.skills-list-container {
    text-align: left;
    margin-left: 2vw;
}

.skills-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .5vw;
    flex-basis: 100%;
}

.skill:hover {
    transform: scale(1.25);
}

.skill-logo {
    width: 3vw;
    height: auto;
}

#css-logo {
    width: 2vw;
    height: auto;
}

.about-container {
    text-align: left;
    margin-left: 2vw;
}

.about-container p {
    margin-left: 2vw;
}

@media only screen and (max-width: 600px) {
    .education-list {
        padding-left: 1vw;
    }

    .education-logo {
        width: 25vw;
    }

    .education p {
        font-size: smaller;
    }

    .skills-list {
        padding-left: 1vw;
        flex-wrap: wrap;
    }

    .skill {
        flex-basis: 33%;
    }

    #css-logo {
        width: 7vw;
        height: 10vw;
    }

    .skill-logo {
        width: 10vw;
        height: 10vw;
    }

    .about-container p {
        margin-right: 2vw;
    }

    .down-carrot {
        width: 75%;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 1000px){ 
    .education-list {
        padding-left: 1vw;
    }

    .education-logo {
        width: 25vw;
    }

    .education p {
        font-size: x-large;
    }

    .skills-list {
        padding-left: 1vw;
        flex-wrap: wrap;
    }

    .skill {
        flex-basis: 33%;
    }

    #css-logo {
        width: 5vw;
        height: 8vw;
    }

    .skill-logo {
        width: 8vw;
        height: 8vw;
    }

    .about-container p {
        margin-right: 2vw;
    }

    .down-carrot {
        width: 75%;
    }

}

