.banner-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: .8em;
    width: 100%;
    height: 80vh;
    padding-top: 20vh;
    background-image: url('../../resources/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.banner-text-container {
    width: 33%;
    padding-top: 8%;
    padding-right: 10%;
    text-align: left;
}

.banner-button {
    padding: 2%;
    width: 20vw;
    font-size: 2rem;
    border: #629435 solid;
    border-radius: 15px;
    color: whitesmoke;
    background-color: #629435;
}

.banner-button:hover {
    color: #629435;
    background-color: #B8E094;
    border: #629435 solid;
    transition: .5s ease-in;
    cursor: pointer;
}

.banner-button:active {
    color:whitesmoke;
    border: whitesmoke solid;
}

.featured-work-container {
    width: 100%;
    height: fit-content;
    background-color: #CCCCCC;
}

.featured-work-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    background-color: white;
    height: 30vh
}

.down-carrot {
    width: 25%;
    margin-bottom: 2vh;
}

.featured-work {
    display: flex;
    margin-top: 5vw;
    padding-bottom: 5vw;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 5vh;
    align-items: center;
    justify-content: space-around;
    height: fit-content
}

.featured-work-description {
    flex-basis:45%;
}

.desktop-image {
    max-width: 100%;
}

.skills-used-container {
    display: flex;
    column-gap: 1vw;
}

.featured-links {
    flex-basis: 40%;
    max-width: 30%;
}

.featured-links :hover {
    transform: scale(1.05);
}


.top {
    display: flex;
    align-items: center;
    column-gap: 5vh;
    width: 100%;
}

.top-content {
    text-align: left;
    margin-left: 8vw;
}

.mid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5vh;
    width: 100%;
}

.mid-content {
    text-align: left;
    margin-right: 8vw;
}

.bot {
    display: flex;
    align-items: center;
    column-gap: 5vh;
    width: 100%;
}

.bot-content {
    text-align: left;
    margin-left: 8vw;
}

@media only screen and (max-width: 600px) {
    .banner-container {
        height: 30vh;
        display: block;
        padding-top: 15vh;
    }

    .banner-text-container {
        width: 100%;
        height: 30vh;
        padding-top: 0%;
    }

    .banner-container h1 {
        width: 33%;
        position: relative;
        top: 15%;
        left: 7%;
    }

    .banner-container h2 {
        font-size: small;
        position: relative;
        right: 7%;
        bottom: -14%;
        float: right;
        width: 38%;
    }

    #home-banner-button {
        position: relative;
        float: right;
        bottom: -43%;
        right: -26%;
        width: 33vw;
        font-size: small;
    }

    .banner-button {
        width: 50vw;
    }

    .featured-work-title {
        height: 15vh;
        justify-content: center;
    }

    .featured-work-title img {
        width: 75%;
    }

    .top {
        align-items: center;
        flex-direction: column;
        column-gap: 0;
    }

    .top-content {
        margin-right: 8vw;
    }

    .mid {
        align-items: center;
        flex-direction: column-reverse;
        column-gap: 0;
    }

    .mid-content {
        margin-left: 8vw;
    }

    .bot {
        align-items: center;
        flex-direction: column;
        column-gap: 0;
    }

    .bot-content {
        margin-right: 8vw;
    }


    .featured-links {
        flex-basis: 55%;
        max-width: none;
    }

    .featured-links :hover {
        transform: none;
    }

    #css-logo {
        width: 7vw;
        height: 10vw;
    }

    .skill-logo {
        width: 10vw;
        height: 10vw;
    }

    /* Cancel hovers */
    
    
}

@media only screen and (min-width: 601px) and (max-width: 1000px)  {
    main {
        font-size: x-large;
    } 
    .banner-container {
        height: 40vh;
        display: block;

    }

    .banner-text-container {
        width: 100%;
        height: 40vh;
        padding-top: 0%;
    }

    .banner-container h1 {
        width: 33%;
        position: relative;
        top: 15%;
        left: 7%;
    }

    .banner-container h2 {
        font-size: larger;
        position: relative;
        right: 7%;
        bottom: -18%;
        float: right;
        width: 38%;
    }

    #home-banner-button {
        position: relative;
        float: right;
        bottom: -48%;
        right: -26%;
        width: 33vw;
        font-size: larger;
    }

    .banner-button {
        width: 50vw;
    }

    .featured-work-title {
        height: 25vh;
        justify-content: center;
    }

    .featured-links :hover {
        transform: none;
    }

    .featured-work-title img {
        width: 75%;
    }

    .top {
        align-items: center;
        flex-direction: column;
        column-gap: 0;
    }

    .top-content {
        margin-right: 4vw;
    }

    .mid {
        align-items: center;
        flex-direction: column-reverse;
        column-gap: 0;
    }

    .mid-content {
        margin-left: 8vw;
        margin-right: 4vw;
    }

    .bot {
        align-items: center;
        flex-direction: column;
        column-gap: 0;
    }

    .bot-content {
        margin-right: 4vw;
    }

    .featured-links {
        flex-basis: 55%;
        max-width: none;
    }

    #css-logo {
        width: 7vw;
        height: 10vw;
    }

    .skill-logo {
        width: 10vw;
        height: 10vw;
    }

}

