.contact-banner-container {
    height: 80vh;
    padding-top: 20vh;
    display: flex;
    align-items: center;
    background-image: url(../../resources/images/contact-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.contact-banner-text-container {
    text-align: left;
    padding-left: 15vw;
}

.contact-banner-button {
    padding: 2%;
    width: 20vw;
    font-size: 2rem;
    border: #629435 solid;
    border-radius: 15px;
    color: whitesmoke;
    background-color: #629435;
}

.contact-banner-button:hover {
    color: #629435;
    background-color: #B8E094;
    border: #629435 solid;
    transition: .5s ease-in;
}

.contact-form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    background-color: white;
    height: 30vh
}


@media only screen and (max-width: 600px) { 
    .contact-banner-container {
        height: 40vh;
    }

    .contact-banner-text-container {
        padding-left: 2vw;
    }

    .contact-banner-text-container h3 {
        width: 65vw;
    }

    .contact-banner-button {
        display: none;
    }

    .contact-form-container {
        align-items: center;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .input-container {
        flex-direction: column;
        row-gap: 2vh;
    }

    .input {
        min-height: 8vh;
    }

    .contact-submit-button {
        width: 50vw;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) { 
    .contact-banner-container {
        height: 40vh;
    }

    .contact-banner-text-container {
        padding-left: 2vw;
    }

    .contact-banner-text-container h3 {
        width: 65vw;
    }

    .contact-banner-button {
        display: none;
    }

    .contact-form-container {
        align-items: center;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .input-container {
        flex-direction: column;
        row-gap: 2vh;
    }

    .input {
        min-height: 8vh;
        font-size: larger;
    }

    textarea {
        font-size: larger;
    }

    .contact-submit-button {
        width: 50vw;
        font-size: larger;
    }
 }
